body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
}

h1,
h2,
h3,
h4 {
    color: #b355b6;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

#titulo {
    text-align: center;
    color: #004085;
}

strong {
    color: #0056b3;
}

em {
    color: #6c757d;
}

mark {
    background-color: #ffc107;
    padding: 2px 4px;
    border-radius: 3px;
}

#listado,
#checks,
ol {
    padding-left: 20px;
}

#listado li,
ol li {
    margin-bottom: 8px;
}

#checks li {
    list-style: none;
}

#checks input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #28a745;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead tr {
    background-color: #007bff;
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #accdf3;
}

a {
    color: #b960cb;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    max-width: 25%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
}

.image-container img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(33, 120, 168, 0.15);
    animation: spin 3s linear infinite;
    transform-style: preserve-3d;
    backface-visibility: visible;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#reloj {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5em;
    font-weight: bold;
    color: #244d57;
    text-shadow: 0 0 8px #6d51d2;
    font-family: 'Courier New', monospace;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Courier New', monospace;
    letter-spacing: 1px;
}

.boton_mario {
  background: #f6b700;
  border: 5px solid #a36b00;
  color: #fff;
  font-size: 16px;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 6px 0 #a36b00;
  transition: all 0.1s ease;
}

.boton_mario:active {
  transform: translateY(6px);
  box-shadow: 0 0 0 #a36b00;
}